services:
  app:
    build:
      args:
        user: dev
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: api-empresa-app
    container_name: api-empresa-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - api-network

  db:
    image: mysql:8.0
    container_name: api-empresa-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      # Configure only the root user password; do not set MYSQL_USER to "root"
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - api-network

  nginx:
    image: nginx:alpine
    container_name: api-empresa-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    networks:
      - api-network
    depends_on:
      - app

networks:
  api-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
